body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7393B3;
}

a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.castom-active{
  color:tomato;
}